* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boards {
    background-color: green;
}

body {
    overflow-x: hidden;
    padding:3rem;
}

.titleProject {
    margin-bottom: 1.5rem;
}

.bodyProject {
    font-family: sans-serif;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b9c2a8;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    border-radius: 0.4rem;
    overflow: auto;
    height: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


}

.bodyProject::-webkit-scrollbar {
     display: none;
}

#root {
    background-color: #b9c2a8;
    width: 70vw;
    padding: 0 3rem;
    border-radius: 0.4rem;
    padding-bottom: 3rem;
}

/*.board-container:last-child {margin-bottom: 6rem;}*/

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #cbb2b2;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 10px;
    border-radius: 0.4rem;
    margin-bottom: 0.7rem;
}

.board-container {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #dcd8d8;
    border-radius: 0.4rem;
    text-align: center;
}

.boardForm {
    width: 100%;
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;

}

.titleForm {
    display: inline ;
    margin-left: 1rem;
}

.titleForm input {
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.board {
   font-family: sans-serif;
   font-size: 1.8rem;
   font-weight: 700;
}

.bodyboard {
    display: flex;
    flex-direction: row;
    background-color: #eedbdb;
    align-items: center;
    justify-content: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.1rem;
    margin-top: 0.4rem;


}

.column {
  background: #c9c693;
  height: 15rem;
  width: 70%;
  margin: 0.6rem;
  border-radius: 0.5rem;
}

.columnTitle {
    background-color: #afbb96;
    font-size: 1.2rem;
    padding: 0.9rem;
}